html , body {
	background: #fff; 
	/*color:#fff;*/
}

#canvas {
	background: #fff; 
}

canvas{
	background: #fff; 
}


div#ribbon-menu{
	border:1px solid rgba(0, 0, 0, .14);
}

#graph-name:hover
{
    background:rgba(30,40,100,0.5);
}

div#graph-menu,div#style-menu,div#graph-info-bar, div#graph-fork-bar, div#graph-plot-bar{
	
	background:white;
}

div.panel{
	color:black;
	/*background:linear-gradient(rgba(50,150,255,0.05) 0%,rgba(50,100,255,0.1) 95%,rgba(70,70,70,0.05) 100%);*/
	/*background:linear-gradient(rgb(245,252,255) 0%,rgb(250,240,255) 95%,rgb(250,250,250) 100%);*/
	background:rgba(255,255,255,0.5);
	border:1px solid rgba(0, 0, 0, .14);
	/*
	box-shadow:
	inset rgba(230,240,255,0.95) 0 0px 0px 1px, inset rgba(100,230,255,0.4) 0 0px 5px 3px,hsla(200,100%,50%,0.5) 0  0px 0px 1px ,
	inset hsla(0,1%,15%, .1) 0 -1px 2px 1px, 
    inset hsla(0,0%,0%, .1) 0 -1px 0px 2px, 
    inset hsla(0,0%,0%,.05) 0  1px 1px 2px;
	*/
	
}
div.panel>p{
	background-color: rgba(255,255,255,0.5);
}

div.graph-logs{
	
	color: #000;
	background:linear-gradient(rgba(255,255,255,0),rgba(100,100,100,0.3),rgba(255,255,255,0),);
}

div.world-template,div.dataset{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	
}

.dg {
	/*background:linear-gradient(rgba(50,150,255,0.1) 0%,rgba(50,100,255,0.1) 95%,rgba(70,70,70,0.1) 100%);*/
	background:rgba(255,255,255,0.1);
	color: #000;
	/*text-shadow: 0 -1px 0 #eee;*/
}
.dg .cr.function:hover, .dg .cr.boolean:hover {
    background: #eee; }
.dg li.title {
background: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
border-radius: 2px;
background-color: var(--lighter);
transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.2s;
}

.dg.main .close-button {
background:none; 
color:#000;
text-shadow: 0 -1px 0 #eee;
}
.dg.main .close-button:hover {
background-color: #aaa;
}



button.material {
    background-color: var(--lighter);
   
}
@bg-blue: #337ab7;
@bg-hoki: #67809F;
@bg-red: #e7505a;
@bg-purple: #8E44AD;
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.wrapper {
    position: relative;
}

.heading{
    margin: 25px 0;
    font-size: 24px;
}
.dashboard-stat {
    position: relative;
    display: block;
    margin: 0 0 25px;
    overflow: hidden;
    border-radius: 4px;
.visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
> i {
    margin-left: -15px;
    font-size: 110px;
    line-height: 110px;
    color: #fff;
    opacity: .1;
}
}
.details {
    position: absolute;
    right: 15px;
    padding-right: 15px;
    color: #fff;
.number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
.desc {
    text-transform: capitalize;
    text-align: right;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300;
}
}
}
    &.blue {
         background-color: @bg-blue;
     }
&.red {
     background-color: @bg-red;
 }
&.purple {
     background-color: @bg-purple;
 }
&.hoki {
     background-color: @bg-hoki;
 }
}

