/* jQuery UI start */
.ui-slider-horizontal {
    height: 5px;
}
.ui-slider .ui-slider-handle {
    height: 13px;
}
.ui-slider-range.ui-widget-header {
    background: #66ccff;
}
/* jQuery UI end */

/* 3d force graph start */
.scene-tooltip {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6)
}

.scene-nav-info {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 1);
    border: #222222;
    border-radius: 4px;
    font-size: small;
    color: #000000;
    width: 80%;
    left: 10%
}
/* 3d force graph end */